body {
	font-family: 'Simonetta', cursive;
}

#banner, #contact, #social{
	background: linear-gradient(rgba(139,69,19,0.6),rgba(139,69,19,0.6)),url(images/photo3.jpeg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.max-viewport {
	min-height: 60vh;
}

.main {
	width: 100%;
}

